* {
  margin: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.login-container {
  margin-top: 10vh;
  position: absolute;
  top: 10%;
  left: 50%; 
  transform: translate(-50%, -50%);
}

.centered-container {
  position: relative;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  width: 600px;
  max-width: 100vw;
  padding-bottom: 50px;
}

.tinder-cards-container {
  margin-top: 5vh;
  height: 400px;
  max-width: 85vw;
  max-height: 50vh;
}

.card {
  position: absolute;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
  background-size: cover;
  border-radius: 20px;
  width: inherit;
  height: inherit;
  max-width: inherit;
  max-height: inherit;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}

.card > h3 {
  position: absolute;
  bottom: 60px;
  left: 20px;
  color: white;
}

.card > p {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: white;
  text-align: left;
}

.card.card-empty > h3 {
  color: black;
}

.swipe-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-evenly;
}

.swipe-buttons .MuiIconButton-root {
  background-color: white;
  box-shadow: 0px 18px 53px 0px rgba(0, 0, 0, 0.3);
}

.swipe-buttons .swipe-buttons-close {
  padding: 1vw;
  color: #ec5e6f;
}

.swipe-buttons .swipe-buttons-favorite {
  padding: 1vw;
  color: #76e2b3;
}